#discover {
  border: 1px solid red;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .discover_text {
      max-width: 585px;

      > p {
        margin-bottom: 1.875rem;
      }
    }
  }
}
